<!DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <p>You have received an email from the site's contact form with the information, <%= "#{@name} , #{@email}." %></p>
        
    </body>
    
    
</html>